body {
  background-color:#EEE;
}

.repo-card > .mui-panel {
  height: 18rem;
  overflow: hidden;
  cursor: pointer;
}

div.repo-card .pushed_time {
  color: lightgrey;
}

div.repo-card .description {
  height: 4rem;
  overflow: hidden;
}

.repo-card.selected-card {
  border-style: solid;
  border-color: rgb(10, 10, 160);
  border-width: 1px;
  box-shadow: 0px 0px 15px rgb(10, 10, 160);
}
